@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: 700;
    src: url(/font/AtkinsonHyperlegible-Bold.ttf);
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: 400;
    src: url(/font/AtkinsonHyperlegible-Regular.ttf);
    }

    @font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: 400;
    font-style: italic;
    src: local(''),
    url(/font/AtkinsonHyperlegible-Italic.ttf);
    }

    @font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: 700;
    font-style: italic;
    src:url(/font/AtkinsonHyperlegible-BoldItalic.ttf);
    }

.sumario-caps::-webkit-scrollbar {
    width: 15.9px;
    background-color: #d3d3d3;
    border-radius: 12px;
    padding-left: 30px;
}

.sumario-caps::-webkit-scrollbar-thumb {
    background-color: var(--cinza-secundario-inativo);
    border-radius: 8px;
    width: 7.9px;
    display: flex;
    align-items: center;
    border: 3px solid #d3d3d3;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 18px;
    background-position: center 6px;
    background-image: url(/icons/up-inativo.svg);
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("/icons/up-inativo.svg");
}

.sumario:hover .sumario-caps::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("/icons/up-ativo.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 18px;
    background-position: center 6px;
    background-image: url("/icons/down-inativo.svg");
    background-repeat: no-repeat;
    @media(max-width: 768px){
        
    }
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("/icons/down-inativo.svg");
}

.sumario:hover .sumario-caps::-webkit-scrollbar-button:single-button:vertical:increment {
        background-image: url("/icons/down-ativo.svg");
}

*{
    margin: 0;
    padding: 0;
    --vermelho-padrao:#AB2020;
    --cinza-inativo:#484848;
    --preto-padrao:#1E1E1E;
    --cinza-secundario-inativo:#757575;
    --conteudo-divs:#DBDBDB;
    --verde-padrao:#00605F;
    font-family: "Atkinson Hyperlegible";
    text-decoration:none;
}

aside{
    display: flex;
    @media(max-width: 768px){
        flex-direction: column;
        padding-top: 105px;
    }
}

.wrap{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    padding-left: 60%;
    padding-right: 300px;
    margin-top: 700px;
    @media(max-width: 768px){
        display: flex;
        width: 328px;
        padding:16px;
        margin: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}


.busca{
    margin-bottom: 32px;

    @media(max-width: 768px){
        display: none;
    }
}

.barra-busca{
    display: flex;
    width: 343px;
    align-items: center;
    border-radius: 16px;
    padding: 8px 16px;
    border: 3px solid var(--cinza-inativo);
    opacity: 0.62;
    color: var(--conteudo-padrao, #1E1E1E);
    background: url(icons/search-inativo.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    transition: border 0.5s linear, background 0.5s linear;
}

.barra-busca::placeholder {
    color: var(--cinza-secundario-inativo);
}

.barra-busca:focus::placeholder {
    opacity: 0;
}

.barra-busca:hover{
    border: 3px solid var(--vermelho-padrao);
    background: url(/icons/search-ativo.svg),url(/icons/close.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 340px 10px, 370px 10px;
    padding-right: 40px;
    padding-left: 16px;
    transition: 0.5s linear;
}

.sumario{
    border-radius: 16px;
    border: 2px solid var(--conteudo-divs, #DBDBDB);
    background: var(--tema-tema, #FFF);
    display: flex;
    height: 580px;
    width: 360px;
    padding: 20px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 2px 6.5px 0px rgba(0, 0, 0, 0.25);
    
    @media(max-width: 768px){
        display: flex;
        width: 288px;
        height: 580px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.sumario:hover{
        .sumario-titulo h3{
            color: var(--verde-padrao);
        }

        #botao{
            color: var(--vermelho-padrao);
            border-radius: 16px;
            border: 3px solid var(--vermelho-padrao);
            cursor: pointer;  
            font-family: inherit;
        }

        .sumario-titulo #icon-minimizar{
            content: url("/icons/minimizar-ativo.svg");
        }

        .sumario-titulo #icon-expandir{
            content: url("/icons/expandir-ativo.svg");
        }

        #numeracao{
            color: var(--vermelho-padrao);
        }

        .sumario-intro hr{
            border: 1px solid var(--verde-padrao);
        }

        #titulo{
            color: var(--preto-padrao);
        }

        a{
            color: var(--preto-padrao);
        }

        .sumario-caps::-webkit-scrollbar-thumb{
            background-color: var(--vermelho-padrao);
        }
    }

#minimiza :hover{
    background-color: var(--vermelho-padrao);
}
#subcap li :hover {
    color: var(--vermelho-padrao, #AB2020);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.092px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

#subcap li.selected{
    border-radius: 8px;
    background: var(--cinza-secundario-inativo);
    color: white;
    padding: 6px;
}

.sumario:hover #subcap li.selected{
    background-color: var(--verde-padrao);
}

#subcap li.selected a {
    color: #FFFFFF; 
    text-decoration: none; 
    font-weight: 700;
}

#subcap li.selected span:hover {
    color: #FFFFFF;
    text-decoration: none; 
}

.capitulo #numeracao.selected  {
    background-color: var(--cinza-secundario-inativo);
    color: #FFFFFF;
    padding: 6px;
    border-radius: 8px;
}

.sumario:hover .capitulo #numeracao.selected{
    background-color: var(--verde-padrao);
}

.capitulo{
    @media(max-width:768px){
        width: 272px;
        margin-left: 30px;
    }
}


.sumario-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    text-transform: uppercase;
    color: var(--cinza-secundario-inativo);

    @media(max-width:768px){
        color: var(--verde-padrao);
    }
}

#botao {
    display: flex;
    border-radius: 16px;
    border: 3px solid var(--cinza-secundario-inativo);
    display:flex;
    margin-left: 120px;
    height: 49px;
    padding: 12px 16px;
    gap: 8px;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: var(--cinza-secundario-inativo);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;

    @media(max-width: 768px){
        display: none;
    }
}

#home-mobile{
    @media(min-width: 768px){
        display: none;
    }

    @media(max-width:768px) {
    display: flex;
    height: 49px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 3px solid var(--vermelho-padrao, #AB2020);
    background: var(--tema-tema, #FFF);
    }

    img{
        width: 24px;
        height: 24px;
    }
}

#home-moblie:hover{
    background-color: var(--vermelho-padrao);

    img{
        content: url(/icons/home-mobile-hover.svg);
    }
}

#botao:hover {
    background-color: #B22222;

    span{
        color: white;
    }

    #icon-minimizar{
        content: url("/icons/minimizar-hover.svg"); 
    }

    #icon-expandir{
        content: url("/icons/expandir-hover.svg");
    }
}

.hidden {
    display: none;
}

.visible {
  display: inline; /* Ou o valor necessário para exibir o ícone */
}

#botao .visible :hover{
    img{
        content: url(icons/expandir-hover.svg);
    }
}


.sumario-intro{
    color: var(--preto-padrao);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0;

    a{
        color:var(--preto-padrao);
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        line-height: 24px; /* 150% */
        letter-spacing: 0.092px;
        padding: 12px 0;

        @media(max-width:768px){
            display: flex;
            padding: 16px 0px 16px 8px;
            justify-content: center;
            align-items: center;
        }
    }

    hr{
        width: 360px;
        border: 1px solid var(--cinza-secundario-inativo);
        border-radius: 7px;

        @media(max-width: 768px){
            width: 272px;
            border: 1px solid var(--verde-padrao);
        }
    }

    @media(max-width: 768px){
        display: flex;
        width: 272px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65x;
        line-height: 24px; /* 150% */
        letter-spacing: 0.092px;
    }
}

.sumario-intro.selected a{
    border-radius: 8px;
    background: var(--cinza-secundario-inativo);
    color: white;
    display: flex;
    justify-content: center;
    width: 360px;
    padding: 11px 3px;
    margin-bottom: 8px;
    color: var(--tema-tema, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.092px;
    background-size: 324px;

    @media(max-width: 768px){
        display: flex;
        background: var(--verde-padrao, #00605F);
        padding: 10px 9px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width: 256px;
    }
}

.sumario:hover .sumario-intro.selected a{
    background-color: var(--verde-padrao);
}

.sumario-caps{
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    width: 316px;
    align-self: stretch;
    overflow-y: auto;
    padding-right: 47px;

    @media(max-width:768px){
        display: flex;
        align-items: center;
        gap: 16px;
        width: 272px;
        padding-right: 30px ;
        overflow-x: hidden;
    }

    li{
        list-style: none;
    }

    span{
        align-items: baseline;
    }

    a{
    color: var(--cinza-secundario-inativo);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 0.092px;
    padding-left: 10px;

    @media(max-width:768px){
        color: var(--preto-padrao);
    }
    }
}

.sumario-caps hr{  
        margin-bottom: 16px;
        width: 316px;
        border: 1px solid var(--conteudo-divs);
        border-radius: 7px;
        display: flex;

        @media(max-width:768px){
            width: 272px;
        }
}

#numeracao{
    color: var(--cinza-secundario-inativo);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    @media(max-width:768px){
        color: var(--vermelho-padrao);
    }
}

#titulo{
    margin-left: 16px;
    flex: 1 0 0;
    color: var(--cinza-secundario-inativo);
    font-size: 18px;
    font-weight: 700;
    line-height: 32px; /* 177.778% */
    letter-spacing: 0.092px;
    @media(max-width:768px){
        color: var(--preto-padrao);
    }

}

.num-cap{
    display: flex;
align-items: center;
align-self: stretch;
}

#subcap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 16px 0 16px 60px;

    @media(max-width:768px){
        display: flex;
        padding: 16px 0px 16px 5px;
        justify-content: center;
        margin: 0;
        width: 262px;
    }
}

.cap-atual{
    background-color: #00605F;
    color: white;
}

.close-mobile{
    display: none;

    @media (max-width:768px) {
        display: flex;
        height: 49px;
        padding: 14px 14px;
        align-items: center;
        border-radius: 16px;
        border: 3px solid var(--vermelho-padrao, #AB2020);
        background: var(--tema-tema, #FFF);
    }
    
}

.close-mobile:hover{
    background-color: var(--vermelho-padrao);

    img{
        content: url(/icons/close-mobile-hover.svg);
    }
}

#close{
    display: none;

    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 50px;
        align-items: flex-end;
        width: 328px;
        padding:16px;
        margin: auto;
    }
}

#close .close-mobile{
    display: none;
}

.sumario{
    @media (max-width:768px){
        display: none;
    }
}

#abrir-sumario{
    display: none;

    @media (max-width:768px){
        display: inline-block;
        position: fixed;
        right: 16px;
        bottom: 23px;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 997;
    }
}

.abrir{
    display: none;
    @media (max-width:768px){
        display: flex;
        padding: 9px 14px;
        align-items: center;
        border-radius: 16px;
        border: 3px solid var(--vermelho-padrao, #AB2020);
        background: var(--tema-tema, #FFF);
    }
}

.abrir:hover{
    background-color: var(--vermelho-padrao);

    img{
        content: url(/icons/sumario-mobile-hover.svg);
    }
}

